/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
div#container{
width:83.66%; /* 1024px/1224 */}
div#upper{
width:100%;}
div#uppertext{
height:50%; /* 100px */
width:29.29%; /* 300px */}
div#line{
width:100%; /* 1024px */}
div#vertnav {
width:100%; /* 1024px */}
ul li{
padding:0 0 0 7%; /* 71.9px */}
div#main {
width:100%; /* 1024px */}
div#mainright20 {
width:22.46%;/* 230px */
margin:0px 0.683% 0px 0.683%; /* 7px */}
div#maincenter60 {
width:74.80%; /* 765.9px */
margin:0 0 0 0.9%;/*9.21px */}
div#bottombar {
width:100%; /* 1024px */}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}